<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="serviceContact" class="service.ContactService"/>
	
	<aop:config>
		<aop:aspect id="daoContactBean" ref="daoContact">
		<aop:before
			pointcut="execution(* send(String,String,String,String,String,String,String,String))
					and args(firstName,lastName,email,phonenumber,street,city,zip,country)"
			method="addContact" arg-names="firstName,lastName,email,phonenumber,street,city,zip,country"/>
		</aop:aspect>
	</aop:config>
	<bean id="daoContact" class="org.lip6.struts.domain.DAOContact"/>

</beans>