<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="serviceContact" class="service.ContactService"/>
	
	<aop:config>
		<aop:aspect id="daoContactBean" ref="daoContact">
		<aop:before
			pointcut="execution(* send(String,String,String,String,String,String,String,String))
					and args(firstName,lastName,email,phonenumber,street,city,zip,country)"
			method="addContact" arg-names="firstName,lastName,email,phonenumber,street,city,zip,country"/>
		</aop:aspect>
	</aop:config>
	<bean id="daoContact" class="org.lip6.struts.domain.DAOContact"/>
	
	<!--  <bean id="dataSource"
	class="org.springframework.jdbc.datasource.DriverManagerDataSource"
	destroy-method="getCatalog">
	
	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	<property name="url" value="jdbc:mysql://localhost:3306/mydb2"/>
	<property name="username" value="root"/>
	<property name="password" value="root"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	<property name="dataSource" ref="dataSource"/>
	<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="idDaoContact" class="org.lip6.struts.domain.DAOContact">
	<constructor-arg>
	<ref bean="sessionFactory"/>
	</constructor-arg>
	</bean>
	
	<aop:config>
	<aop:advisor pointcut="execution(* org.lip6.struts.domain.DAOContact(..))" advice-ref="txAdvice"/>
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	<tx:attributes>
	<tx:method name="get*" read-only="true"/>
	<tx:method name="*"/>
	</tx:attributes>
	</tx:advice> -->

</beans>